:root {
  --ff-main: "Roboto", sans-serif;
  --ff-heading: "Montserrat", sans-serif;
  font-size: 62.5%;
}

::-webkit-scrollbar {
  width: 1rem;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 100vw;
  padding-bottom: 2px;
}

::-webkit-scrollbar-thumb {
  margin-bottom: 2rem;
  background-color: white;
  border-radius: 100vw;
}

@supports (background-color: red, grey) {
  * {
    scrollbar-color: red grey;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
}

body {
  height: 100%;
  margin: 0;
  font-family: var(--ff-main);
  font-size: 1.6rem;
  color: #fff;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  transition: 0.3s all;
  line-height: 0;
}

.wrapper {
  width: 100vw;
  min-height: 100vh;
  background: url(../img/background.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 120rem;
}

.header__container {
  padding: 3rem 2rem 0;
}

.logo {
  width: 5rem;
  height: 5rem;
}

.logo__link {
  width: 100%;
  height: 100%;
}

.logo__image {
  width: 100%;
  height: 100%;
}

.main__container {
  margin: 0 auto;
  padding: 15rem 2rem 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  margin-bottom: 15rem;
  text-align: center;
  transition: 0.3s transform;
}

.content.move-left {
  transform: translatex(-200vw);
}

.content__title {
  font-family: var(--ff-heading);
  font-size: 2.5rem;
  margin: 0 0 2rem;
}

.content__description {
  margin: 0 0 4rem;
  font-family: var(--ff-heading);
  font-size: 1.6rem;
  text-transform: uppercase;
}

.content__text {
  font-size: 1.6rem;
}

#btn {
  width: 18rem;
  margin-bottom: 2rem;
  padding: 2rem 3.5rem;
  border: 1px solid #fff;
  border-radius: 1rem;
  text-transform: uppercase;
  background: transparent;
  color: white;
}

#btn:hover {
  cursor: pointer;
}

.social {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

.social__item {
  text-indent: -9999px;
  text-align: center;
}

.social__item:not(:last-child) {
  margin-right: 1.5rem;
}

.social__icon {
  width: 2.8rem;
  height: 2.8rem;
  display: block;
}

.social__icon:hover {
  opacity: 0.7;
}

.social__icon--github {
  background: url(../img/github.svg) no-repeat;
}

.social__icon--linkedin {
  background: url(../img/linkedin.svg) no-repeat;
}

.social__icon--mail {
  background: url(../img/envelope.svg) no-repeat;
}

.portfolio {
  width: 100%;
  padding: 0 2rem;
  transition: 0.3s transform;
  position: absolute;
  transform: translateX(100vw);
}

.portfolio.move-in-bottom {
  transform: translateX(0vw);
  border: 1px solid white;
  border-radius: 10px;
}

.media-scroller {
  --_spacer: 2rem;
  padding: var(--_spacer) var(--_spacer);
  display: grid;
  gap: 5rem;
  grid-auto-flow: column;
  grid-auto-columns: 70%;
  overflow-x: auto;
  overscroll-behavior: contain;
}

.media-element {
  border-radius: 10px;
  overflow: hidden;
}

.media-element > a > img {
  inline-size: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.snaps-inline {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: var(--_spacer);
}

.snaps-inline > * {
  scroll-snap-align: start;
}

.portfolio__link {
  position: relative;
}

.portfolio__link:hover::before {
  position: absolute;
  content: "Inspect Me!";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  font-size: 2rem;
  color: #333;
  background: rgba(255, 255, 255, 0.7);
  animation: 0.5s scale;
}

@keyframes scale {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.portfolio__image {
  width: 100%;
}

@media (min-width: 600px) {
  .logo {
    width: 8rem;
    height: 8rem;
    left: 5rem;
  }

  .content {
    margin-bottom: 15rem;
  }

  .content__title {
    font-size: 3.5rem;
  }

  .content__description {
    font-size: 2rem;
  }

  .content__text {
    font-size: 2rem;
  }

  #btn {
    position: relative;
    width: 21rem;
    padding: 1.5rem 2rem;
    font-size: 2rem;
    transition: 0.3s all;
  }

  #btn::before {
    content: "";
    position: absolute;
    top: 70%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: perspective(5em) rotateX(40deg) scale(1, 0.1);
    background-color: white;
    filter: blur(3em);
    transition: 0.3s all;
    opacity: 0.5;
  }

  #btn:hover,
#btn:focus {
    background: white;
    color: #333;
  }

  #btn:hover::before {
    opacity: 1;
  }

  #btn:hover::before,
#btn:focus::before {
    opacity: 1;
  }

  .media-scroller {
    grid-auto-columns: 30%;
    justify-content: center;
  }
}

/*# sourceMappingURL=style.css.map */
